@media (min-width: 768px) {
	.projects-list .panel {
		min-height: 240px;
	}
	.projects-list .project-desc {
		min-height: 150px;
	}
}
@media (min-width: 768px) and (max-width: 992px) {
	.projects-list .panel {
		min-height: 150px;
	}
	.projects-list .project-desc {
		min-height: 100px;
	}
}
body {
	padding-top: 85px;
	padding-bottom: 150px;
	background-color: #f3f3f3;
}
#hero .jumbotron {
	background-color: #0079c2;
	background-repeat: no-repeat;
	color: #eee;
	text-align: right; 
}
#hero .hidden-xs {
	background-image: url(https://raw.githubusercontent.com/HeadspringLabs/assets/master/logos/headspring-labs-left-logo.png);
}
#hero .visible-xs {
	background-image: url(https://raw.githubusercontent.com/HeadspringLabs/assets/master/logos/headspring-labs-horizontally-stacked-no-bottle.png);
}
a.anchor{
	display: block;
	position: relative;
	top: -85px;
	visibility: hidden;
}
.section {
	border-bottom: 1px solid #e0e0e0;
	padding-bottom: 0.2em;
}
.sidebar ul.nav {
	margin-bottom: 2em;
}
.projects-list > div, .members-list > div {
	padding: 0 0 15px 0;
	display: block;
}
.projects-list .panel, .members-list .panel {
	margin: 0 5px 0 0;
}
.clickable-member {
	cursor: pointer;
}